TZ=America/Chicago
PUID=1000
PGID=1000
UMASK=002
DOCKER_API_VERSION=1.44

MEDIA_ROOT=/srv/media-stack
CONFIG_ROOT=/srv/media-stack/config
DATA_ROOT=/srv/media-stack/data

TRAEFIK_DASHBOARD_HOST=traefik.local
HOMEPAGE_HOST=homepage.local
JELLYFIN_HOST=jellyfin.local
PLEX_HOST=plex.local
JELLYSEERR_HOST=jellyseerr.local
SONARR_HOST=sonarr.local
RADARR_HOST=radarr.local
LIDARR_HOST=lidarr.local
READARR_HOST=readarr.local
BAZARR_HOST=bazarr.local
PROWLARR_HOST=prowlarr.local
QBITTORRENT_HOST=qbittorrent.local
SABNZBD_HOST=sabnzbd.local
TAUTULLI_HOST=tautulli.local

TRAEFIK_HTTP_PORT=80
TRAEFIK_DASHBOARD_PORT=8088
QBITTORRENT_PUBLISHED_PORT=8080
SABNZBD_PUBLISHED_PORT=8085

UNPACKERR_SONARR_API_KEY=replace-after-first-boot
UNPACKERR_RADARR_API_KEY=replace-after-first-boot
UNPACKERR_LIDARR_API_KEY=replace-after-first-boot
UNPACKERR_READARR_API_KEY=replace-after-first-boot
